.builder-font .text,
.builder-font body,
.builder-font button,
.builder-font html,
.builder-font input,
.builder-font pre,
.builder-font select,
.builder-font textarea {
  font-family:HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.builder-font {
  font-weight:400
}
.builder-font,
.builder-font .h1,
.builder-font .h2,
.builder-font .h3,
.builder-font .h4,
.builder-font .h5,
.builder-font .h6,
.builder-font h1,
.builder-font h2,
.builder-font h3,
.builder-font h4,
.builder-font h5,
.builder-font h6 {
  font-family:HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif
}
.builder-font .font-title,
.builder-font .h1,
.builder-font h1 {
  font-size:32px;
  font-weight:800
}
@media(max-width:767px) {
  .builder-font .font-title,
  .builder-font .h1,
  .builder-font h1 {
    font-size:24px
  }
}
.builder-font .text-link,
.builder-font .vlist .list-item .list-body .list-content a,
.vlist .list-item .list-body .list-content .builder-font a {
  font-weight:500
}
.builder-font div {
  font-size:16px;
  font-weight:400;
  line-height:1.4em
}
@media(max-width:767px) {
  .builder-font div {
    font-size:16px;
    font-weight:400
  }
}
@media(max-width:543px) {
  .builder-font div {
    font-size:12px;
    font-weight:400
  }
}
.builder-font .ad-identification-text,
.builder-font .ad-identification-text:active,
.builder-font .ad-identification-text:focus,
.builder-font .ad-identification-text:hover,
.builder-font .ad-identification-text:link,
.builder-font .ad-identification-text:visited,
.builder-font .font-small,
.builder-font .font-small:active,
.builder-font .font-small:focus,
.builder-font .font-small:hover,
.builder-font .font-small:link,
.builder-font .font-small:visited,
.builder-font .small,
.builder-font .small-oneline,
.builder-font .small-oneline:active,
.builder-font .small-oneline:focus,
.builder-font .small-oneline:hover,
.builder-font .small-oneline:link,
.builder-font .small-oneline:visited,
.builder-font .small:active,
.builder-font .small:focus,
.builder-font .small:hover,
.builder-font .small:link,
.builder-font .small:visited,
.builder-font .text-date-hint,
.builder-font .text-date-hint:active,
.builder-font .text-date-hint:focus,
.builder-font .text-date-hint:hover,
.builder-font .text-date-hint:link,
.builder-font .text-date-hint:visited,
.builder-font .text-secondary,
.builder-font .text-secondary:active,
.builder-font .text-secondary:focus,
.builder-font .text-secondary:hover,
.builder-font .text-secondary:link,
.builder-font .text-secondary:visited,
.builder-font .text-tooltips,
.builder-font .text-tooltips:active,
.builder-font .text-tooltips:focus,
.builder-font .text-tooltips:hover,
.builder-font .text-tooltips:link,
.builder-font .text-tooltips:visited {
  font-size:12px;
  font-weight:400
}
.builder-font .font-header-1,
.builder-font .h2,
.builder-font .h3,
.builder-font .h4,
.builder-font .text-robux-lg,
.builder-font h2,
.builder-font h3,
.builder-font h4 {
  font-size:20px;
  font-weight:700
}
@media(max-width:767px) {
  .builder-font .font-header-1,
  .builder-font .h2,
  .builder-font .h3,
  .builder-font .h4,
  .builder-font .text-robux-lg,
  .builder-font h2,
  .builder-font h3,
  .builder-font h4 {
    font-size:16px
  }
}
.builder-font .font-bold,
.builder-font .font-header-2,
.builder-font .font-header-2:active,
.builder-font .font-header-2:hover,
.builder-font .font-header-2:link,
.builder-font .font-header-2:visited,
.builder-font .h5,
.builder-font .h6,
.builder-font .text-footer-nav,
.builder-font .text-label,
.builder-font .text-lead,
.builder-font .text-name,
.builder-font .text-subject,
.builder-font .text-warning,
.builder-font h5,
.builder-font h6,
.builder-font strong {
  font-size:16px;
  font-weight:500
}
@media(max-width:767px) {
  .builder-font .font-bold,
  .builder-font .font-header-2,
  .builder-font .font-header-2:active,
  .builder-font .font-header-2:hover,
  .builder-font .font-header-2:link,
  .builder-font .font-header-2:visited,
  .builder-font .h5,
  .builder-font .h6,
  .builder-font .text-footer-nav,
  .builder-font .text-label,
  .builder-font .text-lead,
  .builder-font .text-name,
  .builder-font .text-subject,
  .builder-font .text-warning,
  .builder-font h5,
  .builder-font h6,
  .builder-font strong {
    font-size:12px;
    font-weight:500
  }
}
.builder-font .font-subheader-2 {
  font-size:16px;
  font-weight:500
}
@media(max-width:767px) {
  .builder-font .font-subheader-2 {
    font-size:12px
  }
}
.builder-font .font-body,
.builder-font .text-description,
.builder-font .text-favorite,
.builder-font p {
  font-size:16px;
  font-weight:400
}
.builder-font .font-caption-header,
.builder-font .font-caption-header:active,
.builder-font .font-caption-header:focus,
.builder-font .font-caption-header:hover,
.builder-font .font-caption-header:link,
.builder-font .font-caption-header:visited,
.builder-font .small.font-caption-header,
.builder-font .small.font-caption-header:active,
.builder-font .small.font-caption-header:focus,
.builder-font .small.font-caption-header:hover,
.builder-font .small.font-caption-header:link,
.builder-font .small.font-caption-header:visited,
.builder-font .text-error,
.builder-font .text-pastname,
.builder-font .text-report,
.builder-font .text-report-ads {
  font-size:12px;
  font-weight:500
}
.builder-font .font-footer,
.builder-font .font-footer:active,
.builder-font .font-footer:focus,
.builder-font .font-footer:hover,
.builder-font .font-footer:link,
.builder-font .font-footer:visited,
.builder-font .text-footer,
.builder-font .xsmall,
.builder-font .xxsmall {
  font-size:10px;
  font-weight:500
}
@media(max-width:767px) {
  .builder-font .font-footer,
  .builder-font .font-footer:active,
  .builder-font .font-footer:focus,
  .builder-font .font-footer:hover,
  .builder-font .font-footer:link,
  .builder-font .font-footer:visited,
  .builder-font .text-footer,
  .builder-font .xsmall,
  .builder-font .xxsmall {
    font-size:8px
  }
}
.builder-font .tooltip .tooltip-inner {
  max-width:220px
}
.builder-font .font-caption-body,
.builder-font .font-caption-body:active,
.builder-font .font-caption-body:focus,
.builder-font .font-caption-body:hover,
.builder-font .font-caption-body:link,
.builder-font .font-caption-body:visited,
.builder-font .tooltip .tooltip-inner {
  font-size:12px;
  font-weight:400
}
.builder-font .input-field,
.builder-font .line-height {
  line-height:1.4em
}
